.payment {
  background-color: #fff;
}

.payment-container h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment-container h1 a {
  text-decoration: none;
}

.payment-title {
  margin-bottom: 10px;
}

.payment-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px 20px;
  border-bottom: 1px solid lightgray;
}

.payment-details h4 {
  padding-bottom: 20px;
}

.payment-details form div button {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  font-weight: bolder;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
